body,div{
	margin: 0;
	padding: 0;
}

.container{
	width:400px;
	height:200px;
	background: #CCCCCC;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-left: -200px;
	margin-top: -100px;
}

.left_top,.right_bottom{
	background: #FFCC00;
	width: 50px;
	height: 50px;
	position: absolute;
}

.left_top{
	left: 0;
	top: 0;
	border-radius: 0 0 50px 0;

}
.right_bottom{
	right: 0;
	bottom: 0;
	border-radius: 50px 0 0 0;
}